body{
    background: url('/images/sky2.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Tahoma, sans-serif;
}

h1 {
display: flex;
width: 600px;
margin-left: 40%;
margin-top: 5%;
text-align: center;
color:#fff;
}
#cardDisplay{
    display: flex;
    width: 600px;
   margin-left: 40%;
   text-align: center;
    background-color: #000;
    color: #fff;
    opacity: .7;
}